/**
 * LESS Mixin
 *
 * This file contains some usefull LESSCSS mixins to use in your projects.
 */







/**
 * CLEARFIX
 * (from TwitterBootstrap)
 */
.clearfix, .clr {
	
	*zoom: 1;
	
	&:before, &:after {
		display: table;
		content: "";
	}
	
	&:after {
		clear: both;
	}
	
}



/**
 * TEXT ALIGN SHORTCUTS
 * these rules are simple quick shortcuts to the "text-align" CSS property
 */
.ta( @align:left ) { text-align: @align }
.tl { .ta( left ) }
.tr { .ta( right ) }
.tc { .ta( center ) }
.tj { .ta( justify ) }







/**
 * MARGIN SHORTCUTS
 * these are shortcuts to the margin-{side} CSS property
 */
.mt ( @value:0 ) { margin-top: 		@value }
.mr ( @value:0 ) { margin-right: 	@value }
.mb ( @value:0 ) { margin-bottom: 	@value }
.ml ( @value:0 ) { margin-left: 	@value }

/**
 * MARGIN - H / V
 * these are shortcuts to set only horizontals or vertical margins without alter existing rules
 * you can use these mixins with one value applied to the left/right, top/bottom margins or
 * you can use them with separated values
 */
.mv( @value:0 ) { 			.mt(@value); 	.mb(@value); }
.mv( @v1, @v2 ) { 			.mt(@v1); 		.mb(@v2); }

.mh( @value:0 ) { 			.ml(@value); 	.mr(@value); }
.mh( @v1, @v2 ) { 			.ml(@v1); 		.mr(@v2); }






/**
 * PADDING SHORTCUTS
 * these are shortcuts to the padding-{side} CSS property
 */
.pt ( @value:0 ) { padding-top: 	@value }
.pr ( @value:0 ) { padding-right: 	@value }
.pb ( @value:0 ) { padding-bottom: 	@value }
.pl ( @value:0 ) { padding-left: 	@value }

/**
 * PADDING - H / V
 * these are shortcuts to set only horizontals or vertical paddings without alter existing rules
 * you can use these mixins with one value applied to the left/right, top/bottom paddings or
 * you can use them with separated values
 */
.pv( @value:0 ) { 			.pt(@value); 	.pb(@value); }
.pv( @v1, @v2 ) { 			.pt(@v1); 		.pb(@v2); }

.ph( @value:0 ) { 			.pl(@value); 	.pr(@value); }
.ph( @v1, @v2 ) { 			.pl(@v1); 		.pr(@v2); }







/**
 * SIZING, BOXING and MASKING
 */

.size( @w ) { 				width: @w }
.size( null, @h ) { 		height: @h }
.size( @w, @h ) { 			width: @w; height: @h }

.block {					display:block }
.block( @w ) {				.block; .size(@w) }
.block( null, @h ) {		.block; .size(null,@h) }
.block( @w, @h ) {			.block; .size(@w,@h) }

/* inline-block backwards compatibilty hack */
.inline-block {
	display:				-moz-inline-stack;
	display:				inline-block;
	zoom:					1;
	*display:				inline;
}

.inline-block( @w ) {		.inline-block; .size(@w) }
.inline-block( null, @h ) {	.inline-block; .size(null,@h) }
.inline-block( @w, @h ) {	.inline-block; .size(@w,@h) }

/* inline-block shortcuts */
.iblock {					.inline-block }
.iblock( @w ) {				.inline-block(@w) }
.iblock( null, @h ) {		.inline-block(null,@h) }
.iblock( @w, @h ) {			.inline-block(@w,@h) }







/**
 * MASKING
 */

.mask {						.block;					overflow: hidden }
.mask( @w ) {				.block(@w); 			.mask }
.mask( null, @h ) {			.block(null,@h); 		.mask }
.mask( @w, @h ) {			.block(@w,@h); 			.mask }

.inline-mask {				.inline-block;			overflow: hidden }
.inline-mask( @w ) {		.inline-block(@w);		.inline-mask }
.inline-mask( null, @h ) {	.inline-block(null,@h);	.inline-mask }
.inline-mask( @w, @h ) {	.inline-block(@w,@h); 	.inline-mask }

.imask {					.inline-mask }
.imask( @w ) {				.inline-mask(@w) }
.imask( null, @h ) {		.inline-mask(null,@h) }
.imask( @w, @h ) {			.inline-mask(@w,@h) }







/**
 * POSITIONING
 */

.rel {						position: relative }

.abs {						position:absolute; 	top:0; 		left:0 		}
.abs( @v ) {				.abs; 				top:@v 					}
.abs( null, @h ) {			.abs; 				left:@h 				}
.abs( @v, @h ) {			.abs;				top:@v; 	left:@h 	}

.abs-r {					position:absolute; 	top:0; 		right:0 	}
.abs-r( @v ) {				.abs-r; 			top:@v 					}
.abs-r( null, @h ) {		.abs-r; 			right:@h 				}
.abs-r( @v, @h ) {			.abs-r;				top:@v; 	right:@h 	}

.abs-b {					position:absolute; 	bottom:0; 	left:0 		}
.abs-b( @v ) {				.abs-b; 			bottom:@v 				}
.abs-b( null, @h ) {		.abs-b; 			left:@h 				}
.abs-b( @v, @h ) {			.abs-b;				bottom:@v; 	left:@h 	}

.abs-br {					position:absolute; 	bottom:0; 	right:0 	}
.abs-br( @v ) {				.abs-br; 			bottom:@v 				}
.abs-br( null, @h ) {		.abs-br; 			right:@h 				}
.abs-br( @v, @h ) {			.abs-br;			bottom:@v; 	right:@h 	}







